<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>WebGL</h2>
    <ul>
      <li><a href="/webgl/triangle">Triangle</a></li>
    </ul>

    <h2>Three.js</h2>
    <ul>
      <li><a href="/threejs/cube">Cube</a></li>
      <li><a href="/threejs/cube_rotate">Cube Rotate</a></li>
      <li><a href="/threejs/cube_rotate_capture">Cube Rotate with Capture</a></li>
      <li><a href="/threejs/cube_orbit">Cube Orbit</a></li>
      <li><a href="/threejs/lookat">LookAt</a></li>
      <li><a href="/threejs/lookat_2">LookAt 2</a></li>
      <li><a href="/threejs/attendant_moving">Attendant Moving</a></li>
      <li><a href="/threejs/attendant_moving_camera">Attendant Moving with Camera</a></li>
      <li><a href="/threejs/css3d_youtube">CSS3D youtube</a></li>
      <li><a href="/threejs/css3d_youtube_sprite">CSS3D youtube with sprite</a></li>
      <li><a href="/threejs/load_obj">Load .obj</a></li>
    </ul>
  </body>
</html>
