<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>WebGL</h2>
    <ul>
      <li><a href="/webgl/triangle">Triangle</a></li>
    </ul>

    <h2>Three.js</h2>
    <ul>
      <li><a href="/cube">Cube</a></li>
      <li><a href="/cube_rotate">Cube Rotate</a></li>
      <li><a href="/cube_orbit">Cube Orbit</a></li>
    </ul>
  </body>
</html>
