<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="row">
    <div class="col-md-6">
      <h2>three.js r86</h2>
      <div class="list-group">
        <a class="list-group-item" href="/threejs/plane">Plane</a>
        <a class="list-group-item" href="/threejs/quaternion">Quaternion</a>
        <a class="list-group-item" href="/threejs/cube">Cube</a>
        <a class="list-group-item" href="/threejs/cube_rotate">Cube Rotate</a>
        <a class="list-group-item" href="/threejs/cube_rotate_capture">Cube Rotate with Capture</a>
        <a class="list-group-item" href="/threejs/cube_orbit">Cube Orbit</a>
        <a class="list-group-item" href="/threejs/lookat">LookAt</a>
        <a class="list-group-item" href="/threejs/lookat_2">LookAt 2</a>
        <a class="list-group-item" href="/threejs/attendant_moving">Attendant Moving</a>
        <a class="list-group-item" href="/threejs/attendant_moving_2">Attendant Moving 2</a>
        <a class="list-group-item" href="/threejs/attendant_moving_camera">Attendant Moving with Camera</a>
        <a class="list-group-item" href="/threejs/css3d_youtube">CSS3D youtube</a>
        <a class="list-group-item" href="/threejs/css3d_youtube_sprite">CSS3D youtube with sprite</a>
        <a class="list-group-item" href="/threejs/load_obj">Load .obj</a>
        <a class="list-group-item" href="/threejs/canvas">Canvas</a>
        <a class="list-group-item" href="/threejs/canvas_2">Canvas 2 (Not working)</a>
        <a class="list-group-item" href="/threejs/canvas_3">Canvas 3</a>
        <a class="list-group-item" href="/threejs/canvas_4">Canvas 4</a>
        <a class="list-group-item" href="/threejs/video">Video (Not working)</a>
        <a class="list-group-item" href="/threejs/video_2">Video 2</a>
        <a class="list-group-item" href="/threejs/capture">Capture</a>
        <a class="list-group-item" href="/threejs/capture_2">Capture 2</a>
        <a class="list-group-item" href="/threejs/capture_3">Capture 3</a>
        <a class="list-group-item" href="/threejs/texture">Texture</a>
        <a class="list-group-item" href="/threejs/texture_2">Texture 2 (Not working)</a>
        <a class="list-group-item" href="/threejs/texture_3">Texture 3 (Not working)</a>
        <a class="list-group-item" href="/threejs/ring">RingGeometry</a>
        <a class="list-group-item" href="/threejs/ring_2">RingGeometry 2</a>
        <a class="list-group-item" href="/threejs/ring_3">RingGeometry 3</a>
        <a class="list-group-item" href="/threejs/webvr">WebVR</a>
        <a class="list-group-item" href="/threejs/motion_blur">Motion Blur</a>
        <a class="list-group-item" href="/threejs/off_screen">Off Screen Rendering</a>
        <a class="list-group-item" href="/threejs/off_screen_2">Off Screen Rendering 2</a>
        <a class="list-group-item" href="/threejs/mix_2d_3d">Mix 2D & 3D (WIP)</a>
      </div>
    </div>

    <div class="col-md-6">
      <h2>three.js r71</h2>
      <div class="list-group">
        <a class="list-group-item" href="/threejs_r71/cube">Cube</a>
        <a class="list-group-item" href="/threejs_r71/vr_cubes">Example: vr_cubes.html</a>
        <a class="list-group-item" href="/threejs_r71/webvr">WebVR</a>
      </div>

      <h2>three.js r79</h2>
      <div class="list-group">
        <a class="list-group-item" href="/threejs_r79/vr_cubes">Example: vr_cubes.html</a>
      </div>

      <h2>three.js r94</h2>
      <div class="list-group">
        <a class="list-group-item" href="/threejs_r94/webvr">WebVR</a>
      </div>

      <h2>Canvas</h2>
      <div class="list-group">
        <a class="list-group-item" href="/canvas/svg">SVG</a>
        <a class="list-group-item" href="/canvas/svg_2">SVG 2</a>
        <a class="list-group-item" href="/canvas/svg_3">SVG 3</a>
        <a class="list-group-item" href="/canvas/svg_4">SVG 4</a>
        <a class="list-group-item" href="/canvas/video">Video (Not working)</a>
        <a class="list-group-item" href="/canvas/video_2">Video 2</a>
        <a class="list-group-item" href="/canvas/wrap_text">Wrap Text</a>
        <a class="list-group-item" href="/canvas/wrap_text_2">Wrap Text 2</a>
        <a class="list-group-item" href="/canvas/wrap_text_3">Wrap Text 3</a>
        <a class="list-group-item" href="/canvas/wrap_text_4">Wrap Text 4</a>
      </div>
    </div>

    <div class="col-md-6">
      <h2>WebGL</h2>
      <div class="list-group">
        <a class="list-group-item" href="/webgl/triangle">Triangle</a>
      </div>
    </div>

  </div>

  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <!-- Latest compiled and minified JavaScript -->
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>

