<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Three.js</h2>
    <ul>
      <li><a href="/threejs/plane">Plane</a></li>
      <li><a href="/threejs/cube">Cube</a></li>
      <li><a href="/threejs/cube_rotate">Cube Rotate</a></li>
      <li><a href="/threejs/cube_rotate_capture">Cube Rotate with Capture</a></li>
      <li><a href="/threejs/cube_orbit">Cube Orbit</a></li>
      <li><a href="/threejs/lookat">LookAt</a></li>
      <li><a href="/threejs/lookat_2">LookAt 2</a></li>
      <li><a href="/threejs/attendant_moving">Attendant Moving</a></li>
      <li><a href="/threejs/attendant_moving_camera">Attendant Moving with Camera</a></li>
      <li><a href="/threejs/css3d_youtube">CSS3D youtube</a></li>
      <li><a href="/threejs/css3d_youtube_sprite">CSS3D youtube with sprite</a></li>
      <li><a href="/threejs/load_obj">Load .obj</a></li>
      <li><a href="/threejs/canvas">Canvas</a></li>
      <li><a href="/threejs/canvas_2">Canvas 2 (Not working)</a></li>
      <li><a href="/threejs/canvas_3">Canvas 3</a></li>
      <li><a href="/threejs/canvas_4">Canvas 4</a></li>
      <li><a href="/threejs/video">Video (Not working)</a></li>
      <li><a href="/threejs/video_2">Video 2</a></li>
      <li><a href="/threejs/capture">Capture</a></li>
    </ul>

    <h2>WebGL</h2>
    <ul>
      <li><a href="/webgl/triangle">Triangle</a></li>
    </ul>

    <h2>Canvas</h2>
    <ul>
      <li><a href="/canvas/svg">SVG</a></li>
      <li><a href="/canvas/svg_2">SVG 2</a></li>
      <li><a href="/canvas/svg_3">SVG 3</a></li>
      <li><a href="/canvas/svg_4">SVG 4</a></li>
      <li><a href="/canvas/video">Video (Not working)</a></li>
      <li><a href="/canvas/video_2">Video 2</a></li>
      <li><a href="/canvas/wrap_text">Wrap Text</a></li>
      <li><a href="/canvas/wrap_text_2">Wrap Text 2</a></li>
    </ul>
  </body>
</html>

