<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>three.js WebVR</title>
    <script type="text/javascript" src="/javascripts/threejs_r71/three.js"></script>
    <script type="text/javascript" src="/javascripts/threejs_r71/examples/VRControls.js"></script>
    <script type="text/javascript" src="/javascripts/threejs_r71/examples/VREffect.js"></script>
</head>
<body style="margin: 0">

<script type="text/javascript">
</script>

</body>
</html>

