<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>three.js Texture 3</title>
  <script type="text/javascript" src="/javascripts/three.js"></script>
</head>
<body>
<p>
  See: <a href="https://stackoverflow.com/questions/21710049/animated-gif-as-texture-in-three-js" target="_blank">https://stackoverflow.com/questions/21710049/animated-gif-as-texture-in-three-js</a>
</p>
<script>
  var scene = new THREE.Scene();

  var fov = 75;

  var height = 600;
  var width = 400;
  var aspect = height/width;

  var near = 1;
  var far = 1000;

  var camera = new THREE.PerspectiveCamera(fov, aspect, near, far);
  camera.position.set(0, 15, 70);

  var renderer = new THREE.WebGLRenderer();
  renderer.setSize(height, width);
  document.body.appendChild(renderer.domElement);

  var color = 'white';
  var directionalLight = new THREE.DirectionalLight(color);
  directionalLight.position.set(0, 7, 10);
  scene.add(directionalLight);

  var loader = new THREE.TextureLoader();
  loader.crossOrigin = '*';

  var material;

  // Load texture
  (new Promise(function(resolve, reject) {

    loader.load(
      '/images/chompy2.png',
      function(texture) {// onLoad
        texture.magFilter = THREE.NearestFilter;
        texture.minFilter = THREE.NearestFilter;
        texture.needsUpdate = true;

        resolve({ texture: texture });
      },
      function(e) {// onProgress
        console.log('Progress', e);
      },
      function(e) {// onError
        reject(e);
      });

  // Create materials and mesh
  }).then(function(payload) {
    console.log('payload', payload);

    var geometry = new THREE.PlaneGeometry(40, 40, 1, 1);

    material = new THREE.MeshBasicMaterial({ map: payload.texture, transparent: true });
    var plane = new THREE.Mesh(geometry, material);

    plane.position.set(0, 0, 0);
    scene.add(plane);

  }).catch(function(e) {
    console.error('Error occurred', e);
  }));


  function render() {
    requestAnimationFrame(render);

    renderer.render(scene, camera);

    if (material) material.map.needsUpdate = true;
  }
  render();
</script>
</body>
</html>

