<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Canvas Text</title>
</head>
<body>
  <p>See: <a href="https://developer.mozilla.org/ja/docs/Web/HTML/Canvas/Drawing_DOM_objects_into_a_canvas" target="_blank">https://developer.mozilla.org/ja/docs/Web/HTML/Canvas/Drawing_DOM_objects_into_a_canvas</a></p>

  <script>
    var elem = document.createElement('p');
    elem.style.fontFamily = 'Arial, Helvetica, sans-serif';
    elem.style.fontSize = '30px';
    elem.style.textAlign = 'center';
    elem.setAttribute('xmlns', 'http://www.w3.org/1999/xhtml');
    elem.innerHTML = "<em>I</em> like <span style='color:white; text-shadow:0 0 2px blue;'>cheese</span>";

    elem.style.position = 'fixed';
    elem.style.top = '-99999px';
    elem.style.left = '-99999px';
    document.body.appendChild(elem);

    var positionInfo = elem.getBoundingClientRect();
    console.log('elem width', elem.width, elem.clientWidth, elem.scrollWidth, elem.offsetWidth, positionInfo.height);
    console.log('elem height', elem.height, elem.clientHeight, elem.scrollHeight, elem.offsetHeight, positionInfo.width);

    var width = elem.clientWidth;
    var height = elem.clientHeight;

    elem.style.position = null;
    elem.style.top = null;
    elem.style.left = null;
    document.body.removeChild(elem);

    //var canvas = document.getElementById("canvas");
    var canvas = document.createElement('canvas');
    canvas.style.border = '2px solid black';
    canvas.style.width = width + 'px';
    canvas.style.height = height + 'px';
    document.body.appendChild(canvas);

    var ctx = canvas.getContext("2d");

    var data = "<svg xmlns='http://www.w3.org/2000/svg'>" +
    //var data = "<svg xmlns='http://www.w3.org/2000/svg' width='200' height='200'>" +
    //var data = "<svg xmlns='http://www.w3.org/2000/svg' width='" + width+ "' height='" + height + "'>" +
      "<foreignObject width='100%' height='100%'>" +
      //"<foreignObject width='" + width + "' height='" + height + "'>" +
      elem.outerHTML +
      "</foreignObject>" +
      "</svg>";

    var DOMURL = self.URL || self.webkitURL || self;
    var svg = new Blob([data], {type: "image/svg+xml;charset=utf-8"});
    var url = DOMURL.createObjectURL(svg);

    var img = new Image();
    img.onload = function() {
      ctx.drawImage(img, 0, 0);
      DOMURL.revokeObjectURL(url);
    };
    img.src = url;
  </script>
</body>
</html>

